<!-- footer section start -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/index.html"><img src="/assets/images/logo.png" alt=""
                        class="img-fluid logo-footer"></a>
                <div class="footer-about">
                    <p>Mountain Fashion Magazine is your trusted source for the latest in Malawi fashion, beauty, and
                        lifestyle. We celebrate creativity, culture, and the vibrant stories of designers and
                        trendsetters from the region and beyond.</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <i class="fa-solid fa-globe fa-2x" title="Online"></i>
                    <div class="use-links">
                        <li><a href="/index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="/public/features/editorial.html"><i class="fa-solid fa-angles-right"></i>
                                Features</a></li>
                        <li><a href="/public/features/newsletter.html"><i class="fa-solid fa-angles-right"></i> Go
                                Pro</a></li>
                        <li><a href="/public/designers.html"><i class="fa-solid fa-angles-right"></i> Designers'
                                Spotlight</a></li>
                        <li><a href="/public/contact.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <i class="fa-solid fa-table" title="Social Table"></i>
                    <div class="social-icons">
                        <li><a href="https://www.facebook.com/share/1H9D1jbQPv/"><i class="fa-brands fa-facebook-f"></i>
                                Facebook</a></li>
                        <li><a href="https://www.instagram.com/mountainmagazine265?igsh=YmNuZnNncnE0cjE0"><i
                                    class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <!--<li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>-->
                        <li><a href="https://www.pinterest.com/mountfasmagazine/"><i class="fa-brands fa-pinterest"></i>
                                Pinterest</a></li>
                        <li><a href="https://tiktok.com/@MountainFM265"><i class="fa-brands fa-tiktok"></i> TikTok</a>
                        </li>
                        <li><a href="https://x.com/MountainFM265?t=1UZT2f5D-cPkc63bbx9t9w&s=09"><i
                                    class="fa-brands fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.threads.net/@mountainmagazine265"><i class="fa-brands fa-threads">@</i>
                                Threads</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <i class="fa-solid fa-map-marker-alt fa-2x" title="Location"></i>
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> University of Malawi</li>
                        <li><a href="tel:+265994480391"><i class="fa-solid fa-phone"></i> +265 994 480 391</a></li>
                        <li><a href="mailto:mount.fas.magazine@gmail.com"><i class="fa-solid fa-envelope"></i>
                                mount.fas.magazine@gmail.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>
<!-- footer section end -->
<!-- footer copy right section start -->
<section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
        All rights reserved. 2025 Mountain Fashion Magazine.

    </div>

</section>
<!-- footer copy right section end -->